html, body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  color: #F6F6DB;
  padding: 1em;
}

a:hover {
  color: #D5E7B8;
  transition: .5s;
}

#App {
  /* height: 100%; */
  /* width: 100vw; */
  scroll-snap-type: y mandatory;
}

.section-container {
  width: 100%;
  height: 100vh;
}

/* Header Styling */
#header {
  display: flex;
  background-color: #CAAD7E;
  height: 7vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#socialLinks {
  display: flex;
  font-size: 2em;
  color: #F6F6DB;
}

.navLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.navRight {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
  align-items: center;
  margin-left: auto;
}

.homeHeadshot {
  width: 3em;
  height: 3em;
  border-radius: 2em;
  object-fit: cover;
}

/* homepage */

#homePage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  width: 100vw;
  scroll-snap-align: start;
  /* background: #C4DEA4 */
}

.div1 { grid-area: 1 / 1 / 6 / 4; }
.div2 { grid-area: 1 / 4 / 6 / 7; }
.div3 { grid-area: 2 / 2 / 5 / 6; }
.div4 { grid-area: 2 / 3 / 4 / 5; }
.div5 { grid-area: 4 / 2 / 5 / 4; }
.div6 { grid-area: 4 / 4 / 5 / 6; }

.homePageLeft {
  grid-area: 1 / 1 / 6 / 4;
  display: flex;
  height: 101vh;
  background-color: #F6F6DB;
}

.homePageRight {
  display: flex;
  grid-area: 1 / 4 / 6 / 7;
  background: #C4DEA4;
  height: 101vh;
}

.homeOverlay {
  /* z-index: 10; */
  grid-area: 2 / 2 / 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomePhoto {
  grid-area: 2 / 3 / 4 / 5;
  display: flex;
  flex-direction: column;
}

.welcomeText {
  display: flex;
  position: relative;
  animation: hello 3s 1;
  animation-fill-mode: forwards;
  /* letter-spacing: 3px; */
  /* grid-area: 4 / 2 / 5 / 6; */
}

.hello {
  position: relative;
  animation: hello 3s 1;
  animation-fill-mode: forwards;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 8em;
  color: #C4DEA4;
}

.world {
  position: relative;
  animation: world 3s 1;
  animation-fill-mode: forwards;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 8em;
  color: #F6F6DB;
}

#headshot {
  width: 20em;
  height: 20em;
  border-radius: 10em;
  object-fit: cover;
  position: relative;
  animation: headshot 2s 1;
  animation-fill-mode: forwards;
}

@keyframes headshot {
  from {
    margin-bottom: 10%;
    opacity: 0;
  }
  to {
    margin-bottom: 0%;
    opacity: 1;
  }
}

@keyframes hello {
  from {
    margin-right: 150%;
    opacity: 0;
  }
  to {
    margin-right: 0%;
    opacity: 1;
  }
}

@keyframes world {
  from {
    margin-left: 80%;
    opacity: 0;
  }
  to {
    margin-left: 11%;
    opacity: 1;
  }
}

/* About me */
#aboutMe {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  height: 100vh;
  width: 100vw;
  background: #F6F6DB;
}

.div1 { grid-area: 2 / 2 / 3 / 6; }
.div2 { grid-area: 3 / 2 / 7 / 6; }

.aboutName {
  grid-area: 2 / 1 / 3 / 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: .5em;
  font-size:5em;
  color: #D5E7B8;
}

.aboutTitle {
  grid-area: 3 / 1 / 4 / 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
  font-size: 3em;
  color: #CAAD7E;
}

.aboutInfo {
  grid-area: 3 / 2 / 7 / 6;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  color: #CAAD7E;
  padding: 10px;
  animation: aboutMe 6s 1;
  animation-fill-mode: forwards;
}

/* Projects */
#projects {
  display: grid;
  grid-template-columns: .5fr repeat(3, 1fr) .5fr;
  grid-template-rows: .5fr repeat(4, 1fr) .5fr;
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  height: 100vh;
  width: 100vw;
  background: #CAAD7E;
}

.project1 {
  grid-area: 2 / 2 / 3 / 5;
  border-style: solid;
  display: flex;
  background: #F6F6DB;
  margin-bottom: 2%;
}
.project2 {
  grid-area: 3 / 2 / 4 / 5;
  border-style: solid;
  display: flex;
  background: #F6F6DB;
  margin-bottom: 2%;
}
.project3 {
  grid-area: 4 / 2 / 5 / 5;
  border-style: solid;
  display: flex;
  background: #F6F6DB;
  margin-bottom: 2%;
}
.project4 {
  grid-area: 5 / 2 / 6 / 5;
  border-style: solid;
  display: flex;
  background: #F6F6DB;
  margin-bottom: 2%;
}

.div2 { grid-area: 2 / 2 / 3 / 5; }
.div3 { grid-area: 3 / 2 / 4 / 5; }
.div4 { grid-area: 4 / 2 / 5 / 5; }
.div5 { grid-area: 5 / 2 / 6 / 5; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 5; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 5; }
.div10 { grid-area: 4 / 2 / 5 / 3; }
.div11 { grid-area: 4 / 3 / 5 / 5; }
.div12 { grid-area: 5 / 2 / 6 / 3; }
.div13 { grid-area: 5 / 3 / 6 / 5; }

@keyframes aboutMe {
  from {opacity: 0;}
  to {opacity: 1;}
 }